.App {
  text-align: center;
  background-color: #282c34;
  width: 90%;
  margin-left: 10%;
}

.App-logo {
  height: 9vmin;
  pointer-events: none;
}



.App-table {
  margin-top: 2%;
  width: 100%;
  font-size: 2rem;
}

/* Seu estilo CSS */
/* Seu estilo CSS */
.table-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Isso define a altura da div como 100% da altura da viewport (janela do navegador) */
}
.tabela2{
  margin-top: 20px;
  width: 30%;
  margin-left: 0%;
}
